main
asciitest
main.cpp
.idea
build
nohup.out
log.txt
cmake-build-debug
cmake-build-debug-build
cmake-build-release-build
cmake-build-debug-build-1
cmake-build-debug-build-1/*
CMakeLists.txt
examples
Makefile
